#event-para
{
	margin-top:0.75em;
	margin-bottom:0em;
}

#event-previews
{
	width:90vw;
	height:auto;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin:auto;
	margin-top:0.75em;
	margin-bottom:0em;
}

.event-imgs
{
	width:90vw;
	height:18em;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	box-shadow:inset 0 0 0 800px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.4);
	position:relative;
	overflow:hidden;
	margin-bottom:0.95em;
}

.event-imgs:last-child
{
	margin-bottom:0px;
}

.phone-block
{
	width:90vw;
	height:auto;
	overflow:hidden;
	text-align:left;
	background-color:#fff;
	box-shadow:0 0 5px rgba(0,0,0,0.4);
	margin-bottom:0.95em;
	display:none;
}

.event-title
{
	font-size:1.05em;
	font-weight:bold;
	text-transform:uppercase;
	line-height:0.45em;
	margin-top:1.95em;
	margin-bottom:0.35em;
	padding-bottom:0.75em;
	display:inline-block;
	padding-left:calc(5% + 0.35vw);
	border-bottom:2px solid #000;
}

.event-para
{
	width:90%;
	margin:auto;
	margin-top:0.95em;
	margin-bottom:0.35em;
	font-size:0.75em;
	line-height:1.45em;
	font-weight:normal;
}

.event-loc
{
	width:90%;
	margin:auto;
	border-top:2px solid #000;
	margin-top:0.95em;
	margin-bottom:1.5em;
	overflow:hidden;
	text-align:left;
}

.event-info
{
	font-size:0.85em;
	padding-left:0.35vw;
	text-transform:uppercase;
	font-weight:bold;
	margin-top:0.95em;
	margin-bottom:0.95em;
}

.map-block
{
	width:100%;
	height:14em;
	margin:auto;
	margin-top:0.25em;
	margin-bottom:0.25em;
}

.close-event
{
	margin-top:0.5em;
	margin-bottom:0em;
}

.phone-block:last-child
{
	margin-bottom:0px;
}

