#footer
{
	width:100vw;
	height:auto;
	padding-top:1.1em;
	padding-bottom:0.95em;
	background-color:#f3f3f3;
	overflow:hidden;
	text-align:left;
}

#footer > p
{
	font-size:0.75em;
	padding-left:0.35vw;
	line-height:1.45em;
	font-weight:lighter;
	width:90%;
	margin:auto;
}