#carosel-block
{
	width:100vw;
	height:calc(100vh - 4em);
	overflow:hidden;
	position:relative;
}

#carosel
{
	width:300vw;
	height:calc(100vh - 4em);
	overflow:hidden;
	position:relative;
	margin-left:-100vw;
}

#tracking-block
{
	width:5em;
	height:2em;
	display:flex;
	justify-content:space-between;
	position:absolute;
	z-index:1000000;
	left:calc((100vw - 5em) / 2);
	bottom:1em;
}

#first-tracker
{
	width:2em;
	height:2em;
	box-shadow:inset 0 0 0 5px #fff;
	border-radius:50%;
	transition:all 0.5s ease;
	background-color:#fff;
}

#second-tracker
{
	width:2em;
	height:2em;
	box-shadow:inset 0 0 0 5px #fff;
	border-radius:50%;
	transition:all 0.5s ease;
}

#first-tracker:hover,
#second-tracker:hover
{
	box-shadow:inset 0 0 0 10px #fff;
}

#headone
{
	width:100vw;
	height:calc(100vh - 4em);
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url("../img/Spirio/piano_one.jpg");
	box-shadow:inset 0 0 0 800px rgba(0,0,0,0.2);
	position:absolute;
	top:0px;
	left:100vw;
	transition:all 0.5s ease;
}

#headtwo
{
	width:100vw;
	height:calc(100vh - 4em);
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url("../img/Spirio/party_one.jpg");
	box-shadow:inset 0 0 0 800px rgba(0,0,0,0.2);
	position:absolute;
	top:0px;
	left:200vw;
	transition:all 0.5s ease;
}

#site-preview
{
	width:90vw;
	height:auto;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin:auto;
	margin-top:0.75em;
	margin-bottom:0em;
}

#first-preview
{
	width:auto;
	height:auto;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url("../img/Spirio/piano_one.jpg");
	box-shadow:inset 0 0 0 800px rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.4);
	margin-bottom:0.75em;
	position:relative;
}

.previews
{
	width:auto;
	height:auto;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	box-shadow:inset 0 0 0 800px rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.4);
	margin-bottom:0.75em;
	position:relative;
}

@media only screen and (max-width:635px)
{
	#first-preview,
	.previews
	{
		width:90vw;
		height:25em;
	}
}

@media only screen and (min-width:636px) and (max-width:1024px)
{
	#first-preview,
	.previews
	{
		width:44.5vw;
		height:25em;
	}
}

@media only screen and (min-width:1025px) and (max-width:1440px)
{
	#first-preview
	{
		width:90vw;
		height:25em;
		background-position:center -20em;
	}

	.previews
	{
		width:44.5vw;
		height:25em;
	}
}

