::-webkit-scrollbar
{
	display:none;
}

html, body
{
	width:100vw;
	height:100vh;
	margin:0px;
	padding:0px;
	position:relative;
	overflow:hidden;
	font-family:sans-serif;
	font-weight:normal;
	letter-spacing:0.35vw;
	cursor:default;
	-webkit-text-size-adjust:100%;
}

nav
{
	width:100vw;
	height:4em;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1000000000000;
	background-color:#fff;
	box-shadow:0 0 5px rgba(0,0,0,0.4);
	display:flex;
	justify-content:space-between;
	transition:all 0.5s ease;
}

#name
{
	width:32vw;
	height:4em;
	overflow:hidden;
	text-align:center;
}

.header
{
	padding-left:0.35vw;
	font-size:1.05em;
	font-weight:bold;
	text-transform:uppercase;
	line-height:0.65em;
	margin-top:1.65em;
}

#links
{
	width:68vw;
	height:4em;
	display:flex;
	justify-content:space-between;
}

#links > a
{
	text-decoration:none;
	color:#000;
}

.linksT
{
	width:11.33vw;
	height:4em;
	overflow:hidden;
	text-align:center;
}

.linksT:hover
{
	background-color:#f3f3f3;
}

.linksN
{
	padding-left:0.35vw;
	font-size:0.85em;
	font-weight:normal;
	text-transform:uppercase;
	line-height:0.45em;
	margin-top:2.35em;
}

#small-menu
{
	display:none;
}

@media only screen and (max-width:1024px)
{
	#name
	{
		width:calc(100vw - 4em);
		text-align:left;
	}

	.header
	{
		margin-left:2vw;
	}

	#links
	{
		display:none;
	}

	#menu-button,
	#close-button
	{
		width:5em;
		height:4em;
		text-align:center;
		overflow:hidden;
	}

	#menu-button:hover,
	#close-button:hover
	{
		background-color:#f3f3f3;
	}

	#close-button
	{
		display:none;
	}

	.menu-line
	{
		width:1.75em;
		height:3px;
		background-color:#000;
		margin:auto;
		margin-top:0.25em;
		margin-bottom:0.25em;
	}

	.menu-line:first-child
	{
		margin-top:1.5em;
	}

	#first-close,
	#second-close
	{
		width:1.75em;
		height:3px;
		background-color:#000;
		margin:auto;
	}

	#first-close
	{
		margin-top:1.9em;
		transform:rotate(45deg);
	}

	#second-close
	{
		margin-top:-3px;
		transform:rotate(-45deg);
	}

	#menu-tab
	{
		position:absolute;
		top:-4em;
		right:2em;
		z-index:1000000000;
		background-color:#fff;
		overflow:hidden;
		text-align:center;
		height:3em;
		width:4em;
		box-shadow:0 0 5px rgba(0,0,0,0.4);
		border-bottom-right-radius:5px;
		border-bottom-left-radius:5px;
		transition:all 0.5s ease;
	}
}

/*This is the sub menu for small screens
specifically tablets and small laptops*/
@media only screen and (max-width:1024px) and (min-width:535px)
{
	#small-menu
	{
		width:100vw;
		height:3em;
		position:absolute;
		top:-8em;
		left:0px;
		z-index:1000000000;
		background-color:#fff;
		display:flex;
		justify-content:space-between;
		box-shadow:0 0 5px rgba(0,0,0,0.4);
		transition:all 0.5s ease;
	}

	.small-tab
	{
		width:calc(100vw / 6);
		height:3em;
		overflow:hidden;
		text-align:center;
	}

	.link-name
	{
		text-decoration:none;
		color:#000;
	}

	.link-name > h5
	{
		font-size:0.75em;
		text-transform:uppercase;
		margin-top:1.65em;
		font-weight:normal;
	}

	.small-tab:hover
	{
		background-color:#f3f3f3;
	}

	#phone-sub,
	#open-phone-sub,
	#close-phone-sub
	{
		display:none;
	}
}

/*This is the sub menu for small screens
specifically phones*/
@media only screen and (max-width:534px)
{
	#small-menu
	{
		width:100vw;
		height:auto;
		position:absolute;
		top:-25em;
		left:0px;
		z-index:1000000000;
		background-color:#fff;
		box-shadow:0 0 5px rgba(0,0,0,0.4);
		transition:all 0.5s ease;
		display:block;
	}

	.small-tab
	{
		width:100vw;
		height:3em;
		overflow:hidden;
		text-align:left;
		position:relative;
	}

	.link-name,
	.link-names-sub
	{
		text-decoration:none;
		color:#000;
	}

	.link-name > h5,
	.link-names-sub > h5
	{
		padding-left:2.35vw;
		font-size:0.75em;
		text-transform:uppercase;
		margin-top:1.65em;
		font-weight:normal;
	}

	.link-names-sub > h5
	{
		padding-left:7.35vw;
	}

	.link-name > h5:hover,
	.link-names-sub > h5:hover
	{
		color:#ff0000;
	}

	#phone-sub
	{
		width:100vw;
		height:0px;
		background-color:#f3f3f3;
		box-shadow:inset 0 0 5px rgba(0,0,0,0.4);
		overflow:hidden;
	}

	#open-phone-sub,
	#close-phone-sub
	{
		height:3em;
		width:4em;
		position:absolute;
		right:0px;
		top:0px;
		text-align:center;
		overflow:hidden;
	}

	#open-phone-sub:hover,
	#close-phone-sub:hover
	{
		background-color:#f3f3f3;
	}

	#close-phone-sub
	{
		display:none;
	}
}

