#spirio-para
{
	margin-top:0.75em;
	margin-bottom:0em;
}

#spirio-ad
{
	width:90vw;
	height:auto;
	margin:auto;
	margin-top:0.95em;
	margin-bottom:0.5em;
	position:relative;
}

#spirio-ad-one
{
	width:auto;
	height:auto;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url("../img/Spirio/crspirio.jpg");
	box-shadow:inset 0 0 0 800px rgba(0,0,0,0.2);
	position:absolute;
	left:0px;
	top:0px;
}

#spirio-ad-two
{
	width:auto;
	height:auto;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url("../img/Spirio/ipad.png");
	box-shadow:inset 0 0 0 800px rgba(0,0,0,0.2);
	position:absolute;
	right:0px;
	top:0px;
}

#spirio-ad-three
{
	width:auto;
	height:auto;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url("../img/Spirio/woman.jpg");
	box-shadow:inset 0 0 0 800px rgba(0,0,0,0.2);
	position:absolute;
	right:0px;
	bottom:0px;
}

#spirio-ad-four
{
	width:auto;
	height:auto;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url("../img/Spirio/piano.png");
	box-shadow:inset 0 0 0 800px rgba(0,0,0,0.2);
	position:absolute;
	left:0px;
	bottom:10.5em;
}

#spirio-ad-five
{
	width:auto;
	height:auto;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url("../img/Spirio/party.jpg");
	box-shadow:inset 0 0 0 800px rgba(0,0,0,0.2);
	position:absolute;
	left:0px;
	bottom:0px;
}

.piano-button-sec
{
	width:90vw;
	height:auto;
	margin:auto;
	margin-top:0.75em;
	margin-bottom:0.5em;
	display:flex;
	justify-content:space-between;
}

.grand-button,
.upright-button
{
	width:auto;
	height:4em;
	border:2px solid #000;
	background-color:transparent;
	outline:none;
	color:#000;
	font-size:0.85em;
	font-weight:normal;
	line-height:1.45em;
}

.grand-button:hover,
.upright-button:hover
{
	background-color:#000;
	color:#fff;
}

.pianos-displays
{
	width:90vw;
	height:auto;
	margin:auto;
	margin-top:0.75em;
	margin-bottom:0em;
	overflow:hidden;
	box-shadow:inset 0 0 5px rgba(0,0,0,0.4);
}

.in-piano-display
{
	width:180vw;
	height:auto;
	display:flex;
	justify-content:space-between;
	transition:all 0.5s ease
}

.grand-sec,
.upright-sec
{
	width:90vw;
	height:auto;
	position:relative;
	overflow:hidden;
}

.piano-image-sec
{
	width:auto;
	height:auto;
	overflow:hidden;
	text-align:center;
}

.piano-img
{
	width:auto;
	height:auto;
}

.piano-info-sec
{
	width:auto;
	height:auto;
	overflow:hidden;
}

.piano-info-sec > hr
{
	width:90%;
	margin:auto;
	margin-top:0.5em;
	margin-bottom:0.95em;
	background-color:#000;
	box-shadow:none;
	height:2px;
}

.piano-name-info
{
	font-size:0.95em;
	text-transform:uppercase;
	margin-top:0.5em;
	margin-bottom:0.5em;
	font-weight:bold;
}

.piano-sub-name
{
	font-size:0.85em;
	text-transform:uppercase;
	margin-top:0.5em;
	margin-bottom:0.5em;
	font-weight:normal;
}

.info-on-piano
{
	width:90%;
	line-height:1.45em;
	font-size:0.75em;
	font-weight:lighter;
	margin:auto;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.select-bar
{
	height:2em;
	width:auto;
	position:absolute;
	z-index:10000;
	overflow:hidden;
}

.open-bar,
.close-bar
{
	height:2em;
	width:2em;
	border-left:2px solid #000;
	background-color:#dadada;
	text-align:center;
	overflow:hidden;
}

.open-bar:hover,
.close-bar:hover
{
	background-color:#a8a8a8;
}

.open-bar > img,
.close-bar > img
{
	margin-top:calc((2em - 14px) / 2);
	margin-left:-0.5px;
}

.close-bar
{
	display:none;
}

.names-buttons-sec
{
	heigh:2em;
	width:100%;
	display:flex;
	justify-content:space-between;
	border-bottom:2px solid #000;
}

.names-sec > h4
{
	font-size:0.95em;
	font-weight:normal;
	padding-left:2.35vw;
	margin-top:0.55em;
}

.name-sel
{
	width:80vw;
	height:auto;
	background-color:#f3f3f3;
	overflow:hidden;
}

.sel-name
{
	width:80vw;
	height:auto;
	padding-top:0.75em;
	padding-bottom:0.75em;
	margin-top:0px;
	margin-bottom:0px;
	font-size:0.95em;
	font-weight:normal;
	padding-left:2.35vw;
}

.sel-name:hover
{
	background-color:#dadada;
}

@media only screen and (max-width:635px)
{
	#spirio-ad
	{
		height:35em;
	}

	#spirio-ad-one
	{
		width:44.25vw;
		height:14em;
	}

	#spirio-ad-two
	{
		width:44.25vw;
		height:10em;
	}

	#spirio-ad-three
	{
		width:44.25vw;
		height:24.5em;
	}

	#spirio-ad-four,
	#spirio-ad-five
	{
		width:44.5vw;
		height:10em;
	}

	.grand-button,
	.upright-button
	{
		width:44.25vw;
	}

	.pianos-displays, 
	.in-piano-display
	{
		height:35em;
	}

	.grand-sec,
	.upright-sec
	{
		height:35em;
	}

	.piano-image-sec
	{
		height:65%;
		width:90vw;
		overflow:hidden;
	}

	.piano-img
	{
		width:85%;
		height:auto;
		margin-top:25%;
	}

	#boston-grand-img
	{
		width:80%;
		margin-top:10%;
	}

	#boston-upright-img
	{
		margin-top:18%;
	}

	#essex-grand-img
	{
		width:58%;
		margin-top:19%;
	}

	.piano-info-sec
	{
		width:90vw;
		height:35%;
		text-align:center;
	}

	#boston-grand-piano-name
	{
		margin-top:12%;
	}

	#boston-upright-piano-name
	{
		margin-top:10%;
	}

	#essex-grand-piano-name
	{
		margin-top:9%;
	}

	.select-bar
	{
		width:80vw;
		top:1em;
		left:4.5vw;
		border:2px solid #000;
	}

	.names-sec
	{
		height:2em;
		width:calc(80vw - (2em + 2px));
		overflow:hidden;
		text-align:left;
		background-color:#fff;
	}
}