#school-para
{
	margin-top:0.75em;
	margin-bottom:0em;
}

#instrument-display
{
	height:auto;
	width:90vw;
	margin:auto;
	margin-top:0.75em;
	margin-bottom:0em;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.inst-img-tab
{
	height:22em;
	width:auto;
	box-shadow:0 0 5px rgba(0,0,0,0.4);
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:0.95em;
}

.inst-img-tab:last-child
{
	margin:auto;
	margin-top:0px;
}

.inst-img
{
	height:18em;
	width:auto;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	box-shadow:inset 0 0 0 800px rgba(0,0,0,0.2);
}

.inst-name
{
	width:auto;
	height:4em;
	overflow:hidden;
	text-align:center;
}

.inst-title
{
	font-size:0.85em;
	font-weight:normal;
	text-transform:uppercase;
	padding-left:0.35vw;
	margin-top:1.75em;
}

@media only screen and (max-width:1440px) and (min-width:1025px)
{
	.inst-img-tab,
	.inst-img,
	.inst-name
	{
		width:29.25vw;
	}

	.inst-img-tab:last-child
	{
		margin-left:1.125vw;
	}
}

@media only screen and (max-width:1024px) and (min-width:535px)
{
	.inst-img-tab,
	.inst-img,
	.inst-name
	{
		width:44.25vw;
	}

	.inst-img-tab:last-child
	{
		margin-left:1.5vw;
	}
}

@media only screen and (max-width:534px)
{
	.inst-img-tab,
	.inst-img,
	.inst-name
	{
		width:90vw;
	}
}